%html
  %head
    %title Login into rubyists.eu
  %body
    %form{ :name => 'login_openid', :method => 'POST' }
      Your OpenID:
      %input{ :id => 'openid_identifier', :class => 'openid_url_input', :type => 'text', :name => 'openid_url' }
