#title
  %h1 Rubyists.eu
%form{:action=>"#", :onsubmit=>'showAddress(this.address.value); return false', :id=>'search'}
  %input{:type=>'text', :name=>'address'}
  %input{:type=>'submit', :value=>'Search'}
#map
#content
  %p Europe has a lot of local Ruby user groups, but you can't easily find them unless you know what you are looking for.
  %p This also means that when you organize an interesting event somewhere, there is no easy way to get it under the attention of Europe's Rubyists.
  %p As a Ruby user groups, you can use Rubyists.eu to become more visible and attract new members. You can put your user group on the map, share your regular meetups and special events. You can proudly announce the projects you work on.
  %p As a Rubyist, you can use Rubyists.eu to find a Ruby user group close to your home.
:javascript
  $(document).ready(function(){
    $.getJSON("/ajax/user_groups.js", function(data){
      each(data, function(user_group) {
        addUserGroupMarker(user_group['name'], user_group['city'], user_group['country']);
      })
    })
  })
