%html
  %head
    %title Rubyists in Europe
    %link{:type => 'text/css', :href => '/public/styles/application.css', :rel => 'stylesheet'}
    %script{:type => 'text/javascript', :href => 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'}
    %script{:type => 'text/javascript', :href => 'scripts/application.js'}
  %body
    = yield